:root {
    --text-color-light: #000;
    --background-color-light: #ffffff;
    --text-color-dark: #fff;
    --background-color-dark: #313131;
  }
  
  [data-theme="light"] {
    --text-color: var(--text-color-light);
    --background-color: var(--background-color-light);
  }
  
  [data-theme="dark"] {
    --text-color: var(--text-color-dark);
    --background-color: var(--background-color-dark);
  }

  .theme-switch-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    position: fixed;
    right: 2%;
    top: 1.2%; /* Adjust according to your preference */
    z-index: 1030; /* Ensure it's above the navbar */
}
  
  .fas.fa-moon, .fas.fa-sun {
    cursor: pointer;
    transition: color 0.3s;
  }
  
  [data-theme="light"] .fas.fa-moon {
    display: none;
  }
  
  [data-theme="dark"] .fas.fa-sun {
    display: none;
  }
  
  [data-theme="light"] .fas.fa-sun {
    color: #ffc107; /* Sun icon color in light mode */
  }
  
  [data-theme="dark"] .fas.fa-moon {
    color: #f8f9fa; /* Moon icon color in dark mode */
  }
  
  
  body {
    margin: 0;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Mobile View */
@media (max-width: 768px) {
    .theme-switch-wrapper {
        top: 2%;
        right: 10px;
    }
}
  
  /* Adjust Visibility Based on Theme */
  [data-theme='light'] .fas.fa-moon,
  [data-theme='dark'] .fas.fa-sun {
    display: none;
  }
